@font-face {
  font-family: Cabin;
  src: url("../assets/Fonts/Cabin/static/Cabin/Cabin-Regular.ttf");
}
body {
  padding: 0;
  margin: 0;
  background-color: #eff1f6;
  font-family: Cabin;
  color: #343434;
}

a {
  color: #343434;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
}

.rotate90deg {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

footer {
  position: absolute;
  bottom: 0;
}
footer p {
  color: #c9c9c9;
}

#indexBody header {
  line-height: 1px;
}
#indexBody header h1 {
  font-size: 75px;
  width: 75px;
  transform: rotate(90deg);
}
#indexBody header h2 {
  font-size: 25px;
}
#indexBody header img {
  height: 20vh;
  margin-left: 50%;
  margin-top: 0%;
}
#indexBody main {
  margin-top: 17.5vh;
  margin-left: 10vw;
  line-height: 0px;
}
#indexBody main button {
  background-color: #ffffff;
  color: #343434;
  border: 0px;
  font-size: 25px;
  padding: 7.5px 15px 5px 15px;
  box-shadow: -1px 1px 1px #d5d5d5;
  border-radius: 3.5px;
}
#indexBody main p {
  color: #343434;
}

#selectGroupBody main {
  width: 75%;
  margin: auto;
  margin-top: 20vh;
}
#selectGroupBody main h2 {
  text-decoration: underline;
}
#selectGroupBody main form {
  display: flex;
  flex-direction: column;
  max-width: 85%;
  margin-left: 5%;
  outline: none;
}
#selectGroupBody main form select {
  background-color: #ffffff;
  color: #343434;
  font-size: 17.5px;
  padding: 7.5px 0px 7.5px 0px;
  border: 0px;
  border-radius: 5px;
}
#selectGroupBody main form input[type=submit] {
  background-color: #ffffff;
  color: #343434;
  max-width: 50%;
  border: 0px;
  font-size: 17.5px;
  margin-top: 7.5px;
  padding: 5px 0px 5px 0px;
  border-radius: 7.5px;
}
#selectGroupBody main form p {
  margin-top: 0px;
  color: #544b4b;
  width: 100%;
  text-align: right;
}

#connexionBody main {
  width: 75%;
  margin: auto;
  margin-top: 20vh;
}
#connexionBody main h2 {
  text-decoration: underline;
}
#connexionBody main form {
  display: flex;
  flex-direction: column;
  max-width: 85%;
  margin-left: 5%;
  outline: none;
}
#connexionBody main form input[type=text] {
  background-color: #ffffff;
  color: #343434;
  font-size: 17.5px;
  padding: 7.5px 0px 7.5px 0px;
  border: 0px;
  border-radius: 5px;
  margin-bottom: 5px;
}
#connexionBody main form select {
  background-color: #ffffff;
  color: #343434;
  font-size: 17.5px;
  padding: 7.5px 0px 7.5px 0px;
  border: 0px;
  border-radius: 5px;
}
#connexionBody main form input[type=submit] {
  background-color: #ffffff;
  color: #343434;
  max-width: 50%;
  border: 0px;
  font-size: 17.5px;
  margin-top: 7.5px;
  padding: 5px 0px 5px 0px;
  border-radius: 7.5px;
  box-shadow: -1px 1px 1px #cecece;
}

#homeBody header {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}
#homeBody header .navHeader {
  display: flex;
  flex-direction: row;
  position: absolute;
}
#homeBody header .navHeader img {
  height: 35px;
  margin-left: 5px;
}
#homeBody header h2 {
  margin: auto;
  font-size: 25px;
}
#homeBody main .homeMain {
  margin-top: 10vh;
}
#homeBody main .homeMain .top .selectDiv {
  float: right;
  margin-top: -50px;
  margin-right: 15px;
  vertical-align: center;
}
#homeBody main .homeMain .top .selectDiv form {
  display: flex;
  flex-direction: row;
}
#homeBody main .homeMain .top .selectDiv form input[type=date] {
  background-color: #ffffff;
  color: #343434;
  font-size: 17.5px;
  padding: 7.5px 0px 7.5px 0px;
  border: 0px;
  border-radius: 5px;
  margin-bottom: 5px;
  height: 20px;
  box-shadow: 2px 2px 2px #d5d5d5;
}
#homeBody main .homeMain .top .selectDiv form input[type=image] {
  color: #343434;
  font-size: 17.5px;
  padding: 7.5px 0px 7.5px 4px;
  border: 0px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 0px;
  height: 25px;
}
#homeBody main .homeMain .top .selectDiv img {
  height: 35px;
}
#homeBody main .homeMain .top h2 {
  font-weight: normal;
  margin-left: 5px;
  margin-bottom: 2.5px;
}
#homeBody main .homeMain .top .counterDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#homeBody main .homeMain .top .counterDiv div {
  width: 45%;
  border-radius: 15px;
  line-height: 0px;
}
#homeBody main .homeMain .top .counterDiv div h3 {
  font-size: 25px;
  margin-left: 10px;
  margin-top: 9.5%;
}
#homeBody main .homeMain .top .counterDiv div p {
  font-size: 60px;
  text-align: center;
  line-height: 0px;
  margin-top: 40px;
  margin-bottom: 30px;
}
#homeBody main .homeMain .top .counterDiv .examCounter {
  background-color: #FFDB87;
}
#homeBody main .homeMain .top .counterDiv .devoirCounter {
  background-color: #A8F6FF;
}
#homeBody main .homeMain .devoir h2 {
  font-weight: normal;
  margin-left: 5px;
  margin-bottom: 2.5px;
}
#homeBody main .homeMain .devoir h2 img {
  height: 25px;
  width: 25px;
  transform: rotate(90deg);
}
#homeBody main .homeMain .devoir .devoirBD {
  display: flex;
  flex-direction: column;
}
#homeBody main .homeMain .devoir .devoirBD .devoirDiv {
  color: #343434;
  background-color: #FDFDFD;
  width: 82.5%;
  margin-left: 3.5%;
  min-height: 100px;
  border-radius: 25px;
  margin-top: 10px;
  line-height: 0px;
  box-shadow: 5px 5px 15px black;
}
#homeBody main .homeMain .devoir .devoirBD .devoirDiv h3 {
  margin-left: 5px;
  margin-top: 9px;
  font-size: 22.5px;
  font-weight: normal;
  height: 100%;
  line-height: 20px;
  margin-bottom: 10px;
}
#homeBody main .homeMain .devoir .devoirBD .devoirDiv #margeDown {
  margin-top: -10px;
}
#homeBody main .homeMain .devoir .devoirBD .devoirDiv .otherDevoirDiv {
  margin-left: 15px;
}
#homeBody main .homeMain .devoir .devoirBD .devoirDiv .otherDevoirDiv p img {
  height: 20px;
  margin-top: 10px;
}
#homeBody main .homeMain .edt h2 {
  font-weight: normal;
  margin-left: 5px;
  margin-bottom: 2.5px;
}
#homeBody main .homeMain .edt h2 img {
  height: 25px;
  width: 25px;
  transform: rotate(90deg);
}
#homeBody main .homeMain .edt .edtBD .edtDiv {
  width: 95%;
  margin: auto;
  border-radius: 15px;
  margin-bottom: 10px;
  color: #343434;
  box-shadow: 2px 2px 5px black;
}
#homeBody main .homeMain .edt .edtBD .edtDiv .topEDTDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0px;
  min-height: 25px;
  line-height: 0px;
}
#homeBody main .homeMain .edt .edtBD .edtDiv .topEDTDiv h3 {
  font-weight: normal;
  margin-left: 4%;
}
#homeBody main .homeMain .edt .edtBD .edtDiv .topEDTDiv p {
  vertical-align: center;
  margin-top: 5px;
  margin-right: 5px;
  font-size: 16.5px;
}
#homeBody main .homeMain .edt .edtBD .edtDiv .topEDTDiv p img {
  height: 20px;
}
#homeBody main .homeMain .edt .edtBD .edtDiv .content {
  margin-top: 0px;
  bottom: 0px;
}
#homeBody main .homeMain .edt .edtBD .edtDiv .content h2 {
  margin-bottom: 0px;
  width: 100%;
}
#homeBody main .homeMain .edt .edtBD .edtDiv .content .hours {
  margin-left: 10px;
  margin-top: 0px;
}

/*# sourceMappingURL=app.css.map */
