#coursHome {
  header{
    display: flex;
    flex-direction: row;
    margin-top: 5px;

    .navHeader{
      display: flex;
      flex-direction: row;
      position: absolute;
      img{
        height: 35px;
        margin-left: 5px;
      }
    }

    h2{
      margin: auto;
      font-size: 25px;
    }
  }
  main {
    .coursHomeTop {
      //background-image: url("../assets/Cours/Test.svg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 150px;

      h2 {
        color: $txtColorBlack;
        padding-top: 15px;
        padding-left: 5px;
        width: 80%;
      }
    }

    .txtSectionTitle{
      margin-bottom: 2px;
      font-size: 20px;
      margin-left: 5px;
    }

    .nextCours{
      .edtBD{
        .edtDiv{
          width: 95%;
          //min-height: 100px;
          margin: auto;
          border-radius: 15px;
          margin-bottom: 10px;
          color: $txtColorBlack;
          box-shadow: 2px 2px 5px black;

          .topEDTDiv{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 0px;
            min-height: 25px;
            line-height: 0px;

            h3{
              font-weight: normal;
              margin-left: 4%;
            }

            p{
              vertical-align: center;
              margin-top: 5px;
              margin-right: 5px;
              img{
                height: 20px;
              }
              font-size: 16.5px;
            }
          }

          .content{
            margin-top: 0px;
            bottom: 0px;
            h2{
              margin-bottom: 0px;
              width: 100%;
            }
            .hours{
              margin-left: 10px;
              margin-top: 0px;
            }
          }


        }
      }
    }

    .devoirBD{
      display: flex;
      flex-direction: column;

      .devoirDiv{
        color: $txtColorBlack;
        background-color: $txtColorWhite;
        width: 82.5%;
        margin-left: 3.5%;
        min-height: 100px;
        border-radius: 25px;
        line-height: 0px;
        box-shadow: 5px 5px 15px black;
        margin-bottom: 10px;

        h3 {
          margin-left: 10px;
          //padding-top: 5px;
          font-size: 22.5px;
          font-weight: normal;
          height: 100%;
          line-height: 0px;
        }

        #margeDown{
          margin-top: -10px;
        }
        .otherDevoirDiv{
          margin-left: 15px;
          p{
            img{
              height: 20px;
              margin-top: 10px;
            }

          }
        }

      }
    }
  }
}