#indexBody{
  header{
    img{
      margin-left: 5%;
    }
  }
}

#selectGroupBody{
  main{
    width: 25%;

    form{
      p{
        width: 50%;
        text-align: left;
      }
    }
  }
}

#connexionBody{
  width: 25%;
  margin: auto;

  form{
    p{
      width: 50%;
      text-align: left;
    }
  }
}

#homeBody{
  main{
    .homeMain{
      .top{
        width: 25%;

        .selectDiv{

        }
      }

      .topEDT {
        width: 100%;
      }

      .devoir{
        width: 25%;
        margin-left: 2.5%;

        .devoirBD{
          .devoirDiv{
            h3{
              margin-left: 17.5px;
              padding-top: 2px;
            }
          }
        }
      }

      .devoirHOME {
        width: 30%;
        margin-left: 35%;
        margin-top: -5%;

        .devoirBD{
          .devoirDiv{
            h3{
              margin-left: 17.5px;
              padding-top: 2px;
            }
          }
        }
      }

      .edt{
        position: absolute;
        margin-left: 60%;

        .edtBD{
          .edtDiv{
            width: 80%;
          }
        }
      }

      .edtHOME{
        width: 25%;
        margin-left: 7%;

        .edtDiv{
          .topEDTDiv{

          }
        }
      }
    }
  }
}

#settingsBody{
  .settings--container{
    width: 20%;

    form{
      input[type=text]{
        width: 85%;
      }
      input[type=number]{
        width: 85%;
      }
      input[type=date]{
        width: 85%;
      }
      select{
        width: 85%;
      }
    }
  }
}