.edt{
  h2{
    font-weight: normal;
    margin-left: 5px;
    margin-bottom: 2.5px;

    img{
      height: 25px;
      width: 25px;
      transform: rotate(90deg);
    }
  }



  .edtBD{
    .edtDiv{
      width: 95%;
      //min-height: 100px;
      margin: auto;
      border-radius: 15px;
      margin-bottom: 10px;
      color: $txtColorBlack;
      box-shadow: 2px 2px 5px black;

      .topEDTDiv{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 0px;
        min-height: 25px;
        line-height: 0px;

        h3{
          font-weight: normal;
          margin-left: 4%;
        }

        p{
          vertical-align: center;
          margin-top: 5px;
          margin-right: 5px;
          img{
            height: 20px;
          }
          font-size: 16.5px;
        }
      }

      .content{
        margin-top: 0px;
        bottom: 0px;
        h2{
          margin-bottom: 0px;
          width: 100%;
        }
        .hours{
          margin-left: 10px;
          margin-top: 0px;
        }
      }


    }
  }
}

.edtHOME{
  h2{
    font-weight: normal;
    margin-left: 5px;
    margin-bottom: 2.5px;

    img{
      height: 25px;
      width: 25px;
      transform: rotate(90deg);
    }
  }



  .edtBD{
    .edtDiv{
      width: 95%;
      //min-height: 100px;
      margin: auto;
      border-radius: 15px;
      margin-bottom: 10px;
      color: $txtColorBlack;
      box-shadow: 2px 2px 5px black;

      .topEDTDiv{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 0px;
        min-height: 25px;
        line-height: 0px;

        h3{
          font-weight: normal;
          margin-left: 4%;
        }

        p{
          vertical-align: center;
          margin-top: 5px;
          margin-right: 5px;
          img{
            height: 20px;
          }
          font-size: 16.5px;
        }
      }

      .content{
        margin-top: 0px;
        bottom: 0px;
        h2{
          margin-bottom: 0px;
          width: 100%;
        }
        .hours{
          margin-left: 10px;
          margin-top: 0px;
        }
      }


    }
  }
}