#selectGroupBody{
  main{
    width: 75%;
    margin: auto;
    margin-top: 20vh;

    h2{
      text-decoration: underline;
    }

    form{
      display: flex;
      flex-direction: column;
      max-width: 85%;
      margin-left: 5%;
      outline: none;


      select{
        background-color: $buttonBackColor;
        color: $txtColorWhite;
        font-size: 17.5px;
        padding: 7.5px 0px 7.5px 0px;
        border: 0px;
        border-radius: 5px;
      }

      input[type=submit]{
        background-color: #373737;
        color: $txtColorWhite;
        max-width: 50%;
        border: 0px;
        font-size: 17.5px;
        margin-top: 7.5px;
        padding: 5px 0px 5px 0px;
        border-radius: 7.5px;
      }
    }
  }
}