.top{
  .selectDiv{
    float: right;
    margin-top: -50px;
    margin-right: 15px;
    vertical-align: center;

    form{
      display: flex;
      flex-direction: row;

      input[type=date]{
        background-color: $buttonBackColor;
        color: $txtColorBlack;
        font-size: 17.5px;
        padding: 7.5px 0px 7.5px 0px;
        border: 0px;
        border-radius: 5px;
        margin-bottom: 5px;
        height: 20px;
        box-shadow: 2px 2px 2px #d5d5d5;
      }

      input[type=image]{
        color: $txtColorBlack;
        font-size: 17.5px;
        padding: 7.5px 0px 7.5px 4px;
        border: 0px;
        border-radius: 5px;
        margin-bottom: 10px;
        margin-top: 0px;
        height: 25px;
      }
    }

    img {
      height: 35px;
    }
  }

  h2{
    font-weight: normal;
    margin-left: 5px;
    margin-bottom: 2.5px;

    img{
      height: 17.5px;
      margin-right: 5px;
    }
  }

  .counterDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    div{
      width: 45%;
      border-radius: 15px;
      line-height: 0px;

      h3{
        font-size: 25px;
        margin-left: 10px;
        margin-top: 9.5%;
      }
      p{
        font-size: 60px;
        text-align: center;
        line-height: 0px;
        margin-top: 40px;
        margin-bottom: 30px;
      }
    }

    .examCounter{
      background-color: #FFDB87;
    }
    .devoirCounter{
      background-color: #A8F6FF;
    }
  }
}

.topEDT{
  .selectDiv{
    float: right;
    margin-top: -50px;
    margin-right: 15px;
    vertical-align: center;

    form{
      display: flex;
      flex-direction: row;

      input[type=date]{
        background-color: $buttonBackColor;
        color: $txtColorBlack;
        font-size: 17.5px;
        padding: 7.5px 0px 7.5px 0px;
        border: 0px;
        border-radius: 5px;
        margin-bottom: 5px;
        height: 20px;
        box-shadow: 2px 2px 2px #d5d5d5;
      }

      input[type=image]{
        color: $txtColorBlack;
        font-size: 17.5px;
        padding: 7.5px 0px 7.5px 4px;
        border: 0px;
        border-radius: 5px;
        margin-bottom: 10px;
        margin-top: 0px;
        height: 25px;
      }
    }

    img {
      height: 35px;
    }
  }

  h2{
    font-weight: normal;
    margin-left: 5px;
    margin-bottom: 2.5px;

    img{
      height: 17.5px;
      margin-right: 5px;
    }
  }

  .counterDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    div{
      width: 45%;
      border-radius: 15px;
      line-height: 0px;

      h3{
        font-size: 25px;
        margin-left: 10px;
        margin-top: 9.5%;
      }
      p{
        font-size: 60px;
        text-align: center;
        line-height: 0px;
        margin-top: 40px;
        margin-bottom: 30px;
      }
    }

    .examCounter{
      background-color: #FFDB87;
    }
    .devoirCounter{
      background-color: #A8F6FF;
    }
  }
}