$backgroundColor: #2c2727;
$txtColorWhite: #FDFDFD;
$txtColorBlack: #343434;
$buttonBackColor: #444444;
$footerColorTxt: #494141;

@font-face {
    font-family: Cabin;
    src: url("../assets/Fonts/Cabin/static/Cabin/Cabin-Regular.ttf");
}

body {
    padding: 0;
    margin: 0;
    background-color: $backgroundColor;
    font-family: Cabin;
    color: $txtColorWhite;
}

a{
    color: $txtColorWhite;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
}

.rotate90deg {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

footer{
    position: absolute;
    bottom: 0;

    p {
        color: $footerColorTxt;
    }
}

@import 'index';
@import 'selectGroup';
@import 'connexion';

@import 'home';