$backgroundColor: #eff1f6;
$txtColorBlack: #343434;
$txtColorWhite: #FDFDFD;
$buttonBackColor: #ffffff;
$footerColorTxt: #c9c9c9;

@font-face {
    font-family: Cabin;
    src: url("../assets/Fonts/Cabin/static/Cabin/Cabin-Regular.ttf");
}

body {
    padding: 0;
    margin: 0;
    background-color: $backgroundColor;
    font-family: Cabin;
    color: $txtColorBlack;
}

a{
    color: $txtColorBlack;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
}

.rotate90deg {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

footer{
    position: absolute;
    bottom: 0;

    p {
        color: $footerColorTxt;
    }
}

@import 'index';
@import 'selectGroup';
@import 'connexion';

@import 'home';
@import 'settings';
@import 'cours';

@media (min-width: 1000px) {
    @import 'desktop';
}