#connexionBody{
    main{
        width: 75%;
        margin: auto;
        margin-top: 20vh;

        h2{
            text-decoration: underline;
        }

        form{
            display: flex;
            flex-direction: column;
            max-width: 85%;
            margin-left: 5%;
            outline: none;

            input[type=text]{
                background-color: $buttonBackColor;
                color: $txtColorBlack;
                font-size: 17.5px;
                padding: 7.5px 0px 7.5px 0px;
                border: 0px;
                border-radius: 5px;
                margin-bottom: 5px;
            }
            select{
                background-color: $buttonBackColor;
                color: $txtColorBlack;
                font-size: 17.5px;
                padding: 7.5px 0px 7.5px 0px;
                border: 0px;
                border-radius: 5px;
            }

            input[type=submit]{
                background-color: $buttonBackColor;
                color: $txtColorBlack;
                max-width: 50%;
                border: 0px;
                font-size: 17.5px;
                margin-top: 7.5px;
                padding: 5px 0px 5px 0px;
                border-radius: 7.5px;
                box-shadow: -1px 1px 1px #cecece;
            }
        }
    }
}