#homeBody{
  header{
    display: flex;
    flex-direction: row;
    margin-top: 5px;

    .navHeader{
      display: flex;
      flex-direction: row;
      position: absolute;
      img{
        height: 35px;
        margin-left: 5px;
      }
    }

    h2{
      margin: auto;
      font-size: 25px;
    }
  }
  main{
    .homeMain{
      margin-top: 10vh;
      @import 'topComponent';

      @import 'devoirComponent';

      @import 'edtComponent';
    }
  }
  footer{

  }
}