#homeBody{
  header{
    display: flex;
    flex-direction: row;
    margin-top: 5px;

    .navHeader{
      display: flex;
      flex-direction: row;
      position: absolute;
      img{
        height: 35px;
        margin-left: 5px;
      }
    }

    h2{
      margin: auto;
      font-size: 25px;
    }
  }
  main{
    .homeMain{
      margin-top: 10vh;
      .top{
        h2{
          font-weight: normal;
          margin-left: 5px;
          margin-bottom: 2.5px;
        }

        .counterDiv {
          display: flex;
          flex-direction: row;
          justify-content: space-around;

          div{
            width: 45%;
            border-radius: 15px;
            line-height: 0px;

            h3{
              font-size: 25px;
              margin-left: 5px;
              margin-top: 9.5%;
            }
            p{
              font-size: 60px;
              text-align: center;
              line-height: 0px;
              margin-top: 40px;
              margin-bottom: 30px;
            }
          }

          .examCounter{
            background-color: #FFDB87;
          }
          .devoirCounter{
            background-color: #A8F6FF;
          }
        }
      }

      .devoir{
        h2{
          font-weight: normal;
          margin-left: 5px;
          margin-bottom: 2.5px;

          img{
            height: 25px;
            width: 25px;
            transform: rotate(90deg);
          }
        }
      }

      .edt{
        h2{
          font-weight: normal;
          margin-left: 5px;
          margin-bottom: 2.5px;

          img{
            height: 25px;
            width: 25px;
            transform: rotate(90deg);
          }
        }
      }
    }
  }
  footer{

  }
}