#indexBody{
  header{
    line-height: 1px;
    h1{
      font-size: 75px;
      width: 75px;
      transform: rotate(90deg);
    }
    h2 {
      font-size: 25px;
    }
    img{
      height: 20vh;
      margin-left: 50%;
      margin-top: 0%;
    }
  }

  main {
    margin-top: 17.5vh;
    margin-left: 10vw;
    line-height: 0px;

    button{
      background-color: $buttonBackColor;
      color: $txtColorBlack;
      border: 0px;
      font-size: 25px;
      padding: 7.5px 15px 5px 15px;
      box-shadow: -1px 1px 1px #d5d5d5;
      border-radius: 3.5px;
    }

    p {
      color: $txtColorBlack;
    }
  }
}